---
import Anchor2Bolts from "./knot/anchor2bolts.astro";
import Bowline from "./knot/bowline.astro";
import CloveHitch from "./knot/clove_hitch.astro";
import DoubleFishermans from "./knot/doubleFishermans.astro";
import DoubleOverhand from "./knot/doubleOverhand.astro";
import Harness from "./knot/harness.astro";
import Muntermuleoverhand from "./knot/munterMuleOverhand.astro";
import Prusik from "./knot/prusik.astro";
import PurcellPrusik from "./knot/purcellPrusik.astro";
import WaterKnot from "./knot/water_knot.astro";
---

<div class="flex flex-col items-center gap-2">
  <h2 class="text-xl font-bold mt-3 mb-2">Knots &amp; Etc</h2>
  <CloveHitch />
  <WaterKnot />
  <Anchor2Bolts />
  <DoubleOverhand />
  <DoubleFishermans />
  <Prusik />
  <PurcellPrusik />
  <Bowline />
  <Muntermuleoverhand />
  <Harness />
</div>
