---
import CloveHitch from "./knot/clove_hitch.astro";
import Harness from "./knot/harness.astro";
import WaterKnot from "./knot/water_knot.astro";
---

<div class="flex flex-col items-center gap-2">
  <h2 class="text-xl font-bold mt-3 mb-2">Knots &amp; Etc</h2>
  <CloveHitch />
  <WaterKnot />
  <Harness />
</div>
